@model Vote.Forms.EvidenceForm
<link href="~/css/placeDetail.css" rel="stylesheet" />
@if (ViewBag.isAuthenticated)
{
    <form asp-controller="Evidence" asp-action="EditEvidence" method="post" enctype="multipart/form-data">
        <div class="create-evidence__title">
            Добавивть компрометирующую информацию
        </div>
        <div class="create-evidence__text">
            <label asp-for="Comment"></label>
            <textarea asp-for="Comment" name="Comment"></textarea>
        </div>
        <div class="create-evidence__files">
            <input asp-for="Files" name="Files" multiple="multiple" type="file" class="evidence__files" />
        </div>
        <input asp-for="PlaceId" name="PlaceId" type="hidden" />
        <input type="submit" value="Отправить" />
    </form>
}
else
{
    <div>
        <a href="/Identity/Account/Login">Войдите</a>, чтобы можно было оставлять компрометирующую информацию
    </div>
}