@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>
    Данное веб приложение является вымыслом. <br />
    Любые схожести с настоящим миром - совпадения. <br />
    Автор не желает обратить внимание посетителей сайта <strong>ни на что</strong>.
</p>
