@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>
    Данное веб приложение является вымыслом. <br />
    Любые схожести с настоящим миром - совпадения. <br />
    Автор не желает обратит внимание посетителей сайта ни на что.
</p>
