@model Vote.Forms.VoteForm
<link rel="stylesheet" href="~/css/ordinaryForm.css">
<div class="form__container">
    <div class="form">
        <div class="form__title"></div>
        <form asp-controller="Vote" asp-action="Create" method="post">
            
        </form>
    </div>
</div>