<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=c42f177a-bbcf-4377-b337-83fae5325dff" type="text/javascript"></script>
<link href="~/css/map.css" rel="stylesheet" />
<script>
    var geoMap;

    ymaps.ready(init);
    function init() {
        geoMap = new ymaps.Map('map', {
            center: [53.31, 28.02], // Москва
            zoom: 8
        }, {
            //searchControlProvider: 'yandex#search'
        });

        //Loading markers from controller
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetMarks", "Map")',
            accept: 'application/json',
            success: function (markers) {
                // and setting markers to map
                if (geoMap) {
                    for (let marker of markers) {
                        geoMap.geoObjects.add(
                            new ymaps.Placemark([marker.x, marker.y], {
                                balloonContent: marker.balloonContent,
                                iconContent: marker.iconContent,
                            }, {
                                preset: marker.preset,
                                balloonCloseButton: marker.balloonCloseButton,
                                hideIconOnBalloonOpen: marker.hideIconOnBalloonOpen,
                            })
                        );
                    }
                } else {
                    throw "Map is not defined";
                }
            }
        });
    }
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Tax Type');
            data.addColumn('number', 'Tax Percentage');

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetVoteStat", "Map")',
                accept: 'application/json',
                success: function (voteStat) {
                    rows = [];

                    for (let row of voteStat.voteStats) {
                        rows.push(
                            [row.targetName, { v: row.v, f: row.f }]
                        );
                    }

                    data.addRows(rows);

                    var option = {
                        title: 'Всего проголосовало - ' + voteStat.Total,
                        width: 500,
                        height: 400
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('chart'));
                    chart.draw(data, option);
                }
            });




        }
    </script>
}

<div id="map"></div>

@if (ViewBag.ShowResults)
{
    <h4>Текущая статистика по голосованию</h4>
    <div style="width: 100%; align-items: center">
        <div id="chart"></div>
    </div>
}
else
{
    <h4>Текущая статистика по голосованию недоступна до окончания голосования</h4>
    <h4>Дата окончания голосования: @ViewBag.EndAt</h4>
}