<link rel="stylesheet" href="~/css/ordinaryForm.css">
<div class="form__container">
    <div class="form">
        <div class="form__title">Error 404</div>
        <div class="form__container" style="flex-wrap: wrap">
            <div class="form__field" style="border-top: 1px solid #dee2e6; padding-top: 20px">
                Page not found
            </div>
            <div class="form__field">
                @ViewBag.text
            </div>
        </div>
    </div>
</div>