@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение аккаунта";
}

<h1>@ViewData["Title"]</h1>
<p>Аккаунт подтверждён, теперь Вы можете оставлять комментарии, редактировать свой аккаунт</p>