@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
        Аккаунт был создан, но чтобы войти, вам нужно перейти по ссылке, которая была отправлена вам на почту.
</p>