@model Vote.Forms.VoteProcessForm
<h1>Управление процессом голосования</h1>
@ViewBag.Message
@if (User.IsInRole("Admin"))
{
    <link rel="stylesheet" href="~/css/ordinaryForm.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <div class="form__container">
        <div class="form">
            <div class="form__title"></div>
            <form asp-area="AdminPanel" asp-controller="Admin" asp-action="Index" method="post">
                <div class="form__fields">
                    <span class="form__error" asp-validation-for="showResults"></span>
                    <label asp-for="showResults"></label>
                    <div class="form__field">
                        <input asp-for="showResults" type="checkbox" id="phone" placeholder="Ваш Номер" value="@ViewBag.showResults">
                    </div>
                    <label asp-for="CreatedAt"></label>
                    <div class="form__field">
                        <input asp-for="CreatedAt">
                    </div>
                    <label asp-for="EndAt"></label>
                    <div class="form__field">
                        <input asp-for="EndAt">
                    </div>
                    <input asp-for="Id" type="hidden" name="id" value="@Model.Id" />
                </div>
                <div class="form__submit">
                    <button class="nice-button" type="submit">Изменить</button>
                </div>
            </form>
        </div>
    </div>
}
else if (User.IsInRole("Manager"))
{
    <h2>
        Вы имеете только статус модератора, управление процессом голосования вам недоступно
    </h2>
}
